{% extends "base.html" %}

{% block content %}

  

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>
  <!-- '''ref https://stackoverflow.com/questions/22669342/passing-a-variable-into-python-from-jinja2-drop-down-menu''' -->

<div class="container">
  <h2 align="center">Adding New Contry</h2>
  <form class="form-horizontal" action="/savecountry">

  
<div class="form-group">
      <!-- <label class="control-label col-sm-2" for="id">Country ID:</label> -->
      
      <div class="col-sm-10">
        <input type="hidden" class="form-control" id="id" placeholder="Enter Country ID" name="id" value="{{c['id']}}">
      </div>
    </div>


     

    <div class="form-group">
      <label class="control-label col-sm-2" for="name" >Name:</label>
      
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" value="{{c['name']}}">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd" >Capital:</label>
      <div class="col-sm-10">
        <input type="capital" class="form-control" id="capital" placeholder="Enter capital" name="capital" value="{{c['capital']}}">
      </div>
    </div>
   
 
     <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Continent:</label>
      <div class="col-sm-10">          
  
    
<select class="form-control" id="continent" name="continent" type="continent" >
    
    {% for c in cl %}
    <option value="{{c['continent']}}"></a>{{c}}</option>
      {% endfor %}
</select>




      </div>
    </div>

       <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Area:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="area" placeholder="Enter Area" name="area" value="{{c['area']}}">
      </div>
    </div>

      <div class="form-group">
      <label class="control-label col-sm-2" for="gdp">GDP:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="gdp" placeholder="Enter GDP" name="gdp"  value="{{c['gdp']}}">
      </div>
    </div>


 
 <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">tld:</label>
      <div class="col-sm-10">          
        <input type="tld" class="form-control" id="tld" placeholder="Enter tld" name="tld" value="{{c['tld']}}">
      </div>
    </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Population:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="population" placeholder="Enter population" name="population" value="{{c['population']}}">
      </div>
    </div>

    


      <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Flag:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="flag" placeholder="Enter Area" name="flag" value="{{c['flag']}}">
      </div>
    </div>

   
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>





  </form>
</div>

     </select>


</body>
</html>
{% endblock %}  